<script type="text/javascript" class="pagesrc">
</script>
<style media="screen">
img{
	max-height: 200px;
}
.name{
	font-size: 7vmin;
}
li{
	list-style-type: none;
	margin-left: 2px;
}
ul{
	padding-left:0px;
}
</style>
<ul id="congress">
  {{#each sens}}
    <li class="congressman" onclick="goto('{{name}}')">
      <img alt="" src="https://raw.githubusercontent.com/unitedstates/images/gh-pages/congress/original/{{id}}.jpg">
      <span class="name {{party}}" name="{{name}}">{{name}}</span>
    </li>
  {{/each}}
	{{#each reps}}
    <li class="congressman" onclick="goto('{{name}}')">
      <img src=" https://raw.githubusercontent.com/unitedstates/images/gh-pages/congress/original/{{id}}.jpg" alt="">
      <span class="name {{party}}">{{name}}</span>
    </li>
  {{/each}}
  <input type="button" name="" value="Compare your beliefs" onclick="getpage('/req/votes/new')">
</ul>
